/* Inicio de  estilos de crear publications*/
#publications{
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   

}

.label_crear_publications,.input_crear_publications{
    display: flex;
    align-items: center;
    width: 80%;
    height: 2rem;
}

.descritions{
    height: 10rem;
    width: 80%;
}

.categorias{
    height: 2rem;
    width: 80%;
}
.error_publications{
    width: 80%;
}
.buttom_crear_publications{
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    background-color:#2979cd;
    margin: 2rem;
}

/*FIN  de  estilos de crear PUBLICATIONS*/
