
/* ESTILOS GENERALES INICIO*/
*{
    font-family:"fajala";
    margin: 0; 
    padding: 0; 
    text-decoration: none;
    box-sizing:border-box;
   
}

body{ 
    background-image: url(../img/cubes.png) ;
}

/* ESTILOS GENERALES FINAL*/



/*ESTILOS HEADER  INICIO*/

#header{
    width: 90%;
    height: 7rem;
    margin: auto;
    background: transparent;
    overflow: hidden;
}

/*ESTILOS HEADER  LOGO INICIO*/
#logo{
    height: 70%;
    display: inline-flex;
    justify-content: center;
    font-size: 1rem;
    
}
#logo a{
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    margin-top: auto;
    color:#2979cd;
    font-weight: bold;
    
    
}
#logo a:hover{
    font-size: 2rem;
    transition: all 400ms;
}
/*ESTILOS HEADER  LOGO FINAL*/

/* ESTILOS BARRA DE NAV INICIO*/
#nav{
    width: 100%;
    height:30%;
    border: 0.05rem #2979cd solid;
    border-radius:0.5rem ;
   
}

#nav ul{
    height:100%;
    list-style-type: none;
}
   


#nav li{
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    
    
   
}
#nav ul li a{
    color: black;
    font-weight: bold;
    padding-left: 0.3rem;
    padding-right: 0.3rem;  
    
}

#nav ul li:hover{
    background-color: #959595;
}
/* ESTILOS BARRA DE NAV FINAL*/

/*ESTILOS HEADER FINAL*/




/* ESTILOS CCONTEINER INICIO*/

#container{
    margin: auto;
    width: 90%;
    height: 40rem;
    padding-top: 2rem;
    display:flex;
    align-items: inherit;
    
}

/* ESTILOS PRINCIPAL INICIO*/
#principal{
    width: 100%;
    margin-left: 1.5rem;
    margin-right:1.5rem;
    padding: 1.5rem;
    background-color:white ;
    border: 0.1rem #909090 solid;
    overflow: hidden;
}
#principal p{
    color: #909090;
    font-size: 1rem;

}
#principal h1{
    margin-bottom: 2rem;
    
}
#principal h2{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color:#2979cd ;
}

.entradas{
margin-bottom: 1.5rem;
}

#td-entradas{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#td-entradas button{
    font-weight: bold;
    font-size: 1rem;
    width: 10rem;
    height: 2.5rem;
    background-color:#2979cd;
    border-radius: 1rem;
    
}
/* ESTILOS PRINCIPAL FINAL*/


 /* ESTILOS LATERAL INICIO*/
 #lateral{
    order: 2;
    width: 25%;
    height: 40rem;  
}

.block:first-child{
    height: auto;

}
.block{
    padding: 0.6rem;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    border: 0.1rem #909090 solid;
    box-shadow: 0.3rem 0.3rem 0.3rem #909090;
}

#lateral h3{
    text-align: center;
    margin-bottom: 1rem;
}

 label,input{
    width: 90%;
    display: flex;
    margin-bottom: 0.5rem;
}
input[type="submit"]{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}
/* ESTILOS LATERAL FINAL*/

/*estilos lateral errores REGISTRO O LOGIN INICIO*/
.alerta{                            /*ALERTAR GENERALES DE ERRORES */
    display: inline-flex;
    border-radius: 0.4rem;
    padding:0.3rem;
    margin-bottom: 0.5rem;   /* este margin se pone por la laerta de crear entradas queda muy pegadas sin este margin*/
    background-color: red;
}
.registro_completo{                 /*CUANDO EL REGISTRO FUE EXITOSO ALA BASE DE DATOS*/
   
    display: inline-flex;
    border-radius: 0.4rem;
    padding:0.3rem;
    background-color: green;
}
.registro_fallo{                   /*CUANDO EL REGISTRO FALLO ALA BASE DE DATOS*/
    display: inline-flex;
    border-radius: 0.4rem;
    padding:0.3rem;
    background-color: red;
}

/*estilos lateral errores REGISTRO O LOGIN INICIO*/



/*STILOS LATERAL CUANDO HAY LOGIN INICIO*/
.bienvenido{                        /* ESTILOS CUANDO HAY UN LOGIN CORECTO*/
    border: 0.1rem #909090 solid;
    margin-bottom: 2rem;
    box-shadow: 0.3rem 0.3rem 0.3rem #909090;
    padding: 1rem;
}
.bienvenido_button{                     /*STILOS DEL BOTON CUANDO HAY LOGIN*/
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 80%;
    color: black;
    font-size: 1.2rem;
    background-color: #2979cd;
}
.red{
    background-color: rgb(248, 90, 90);
}
.verde{
    background-color:green;
}
.violet{
    background-color: blueviolet;
}
.pick{
background-color: pink;
}


/*STILOS LATERAL CUANDO HAY LOGIN FINAL*/

/* ESTILOS LATERAL FINAL*/



/* ESTILOS CCONTEINER FINAL*/

/* ESTILOS FUTTER INCIAL*/
#pie-pagina{
    margin: auto;
    width:90%;
    height: 3rem;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: white;
    margin-top: 1rem;

}

/* ESTILOS FUTTER FINAL*/

